*{
  margin: 0;
}

body{
  background-image: url('../images/cop3.jpg');
}
#logoPsm{
  width:100%;
  padding-top:50px;
}
#crossImg{
  padding-top: 30px;
  width: 50px;
}
#h1Event{
  display:none;
}
#logoAuchan{
  width:50%;
}
#logoKai{
  width: 65%;
  padding-bottom: 50px;
}
#logoDrone{
  width: 50%;
}
#partnerWith{
  text-align: center;
  font-size:25px;
  padding-top:20px;
}
#modalCredits{
  width:300px;
  top:30%;
  margin: auto;
}
#modalCreditsBody{
  padding-bottom:1em;
  padding-top:0;
}
.buttonCredits{
  border-style:solid;
  border-color:white;
  border-width: 1px;
  background-color: #27273A;
  position: fixed;
  bottom: 0px;
  color:white;

}
button {
  background: transparent;
  border: 5px white solid;
  padding: 10px;
  color: white;
  transition: 0.7s;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background: white;
  color: #27273A;
  border-color: #27273A;

}
.close{
  color: #27273A;
  padding:0;

}
.infosEvent{
  font-size: 25px;
}
#backButton{
  position:fixed;
  bottom:40px;
  left:10;
  font-size: 50px;
  color:white;
  z-index: 10000;
}
#partenaire{
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: black;
}

h1{
  padding-top: 20px;
  text-align: center;
  color : white;
}
.bandal{
  padding-top: 40px;
  text-align: center;
}
.bandal img{
  width: 100%;
}

.col-lg-2 img{
  width: 100%;
}

.partenaire .col-lg-3{
  display: flex;
}
.partenaire .col-lg-3 p{
  margin: auto;
  font-weight: bold;
  color: white;
  margin-top: 10%;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 90%;
  width: 65%;
  border: 0;
  margin-left: 18%;
  margin-top: 20px;
}

.embed-responsive-16by9 {
  padding-bottom: 31.25%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 90%;
    width: 100%;
    border: 0;
    margin-left: 0;
    margin-top: 20px;
  }

  .embed-responsive-16by9 {
    padding-bottom: 50.25%;
  }
}
